:root {
  --track-height: 50px;
}

.bigyear {
  font-size: 30px;
  font-weight: bolder;
}

.linhadotempo {
  height: 120px;
}

#next svg path {
  fill: var(--valor-tempo);
}

#next:hover svg path {
  fill: #09d0eb !important;
}

#prev svg path {
  fill: var(--valor-tempo);
}

#prev:hover svg path {
  fill: #09d0eb !important;
}

#indice {
  background-color: var(--valor-tempo) !important;
}
