:root {
  --timeline-font: Helvetica;
  --meta-font: Helvetica;

  --timeline-text-color: #777777;
  --timeline-text-over: #ff0000;
  --base-background: #ffffff;

  --meta-margins: 50px;
  --track-height: 30px;
}

.track {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: lighter;
}

#indice {
  top: calc(50vh - 10px);
  right: var(--meta-margins, 30px);
}

#prev {
  top: calc(50vh - 31px);
  right: calc(var(--meta-margins, 30px) + 4px);
}

#next {
  top: calc(50vh + 20px);
  right: calc(var(--meta-margins, 30px) + 4px);
}
