:root {
  --track-height: 40px;

  --timeline-text-over: #8f8f8f;

  --back-control-width: 150px;

  --base-background: #555555;
  --timeline-text-color: #8f8f8f;
}

.highlight {
  background-color: #bec0b077;
}

#reg0.highlight {
  background-color: #0e240b00;
}

.track {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: lighter;
}

/* Modificações feitas para consertar a História das Interfaces ... verificar impactos em outras apresentações */

#tracktopicos {
  /* margin-top: -60px !important; */
}

.slidewrap {
  /* margin-top: 60px !important; */
}

/* Modificações feitas para consertar a História das Interfaces ... verificar impactos em outras apresentações */

.extrasize {
  font-weight: bold;
  font-size: 20px;
}

.linhadotempo {
  border-left-style: dotted !important;
  width: 5vw !important;
}

.registroano {
  font-weight: bolder;
}

#prev {
  top: calc(100vh - var(--timeline-tempo-height) + 17px);
  right: 105px;
}

#next {
  top: calc(100vh - var(--timeline-tempo-height) + 17px);
  right: 70px;
}

#indice {
  left: calc(100vw - 45px);
  top: calc(100vh - var(--timeline-tempo-height) + 15px);
}

#backcontrol {
  display: block;
  right: 0;
}

#tempo {
  width: calc(100vw - 150px);
  left: 10px !important;
}
