:root {
  --track-height: 40px;
}

.track {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: lighter;
}

.extrasize {
  font-weight: bold;
  font-size: 20px;
}

.linhadotempo {
  border-left-style: dotted !important;
}

.registroano {
  font-weight: bolder;
}
