:root {
  --timeline-font: Helvetica;
  --meta-font: Helvetica;
  --timeline-text-color: #999999;
  --timeline-text-highlight: #777777;
  --timeline-text-over: #aaaaaa;
  --base-background: #ffffff;
  --button-color: #77777700;
  --track-fg: #ffffff;
  --track-bg: #000000;
  --timeline-points: #666666;
  --littlemenu-color: #777777;
  --littlemenu-over: #ffffff;
  --pagination-color: #777777;
  --slidetopic-color: #777777;
  --meta-margins: 30px;

  --track-height: 60px;

  --slide-altura: calc(100vh - 60px);
  --pagina-altura: 100vh;
  --slide-margem: 30px;

  --md-fontsize: 14px;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: var(--base-background, #ffffff);
  transition: background-color 0.6s ease-in-out;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-background, #ffffff);
  margin: 0;
  padding: 0;
}

#frontslide {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

.fulltrack {
  height: var(--track-height, 60px);
  background-color: transparent;
  font-family: sans-serif;
  font-family: Arial;
  font-family: var(--meta-font);
}

.track {
  line-height: var(--track-height, 60px);
  font-size: 16px;
  font-family: sans-serif;
  font-family: Arial;
  font-family: var(--meta-font);
}

.track span a {
  color: var(--track-fg, #ffffff);
  background-color: transparent;
  transition: all 0.3s ease-in;
  font-weight: bolder;
  padding: 4px 10px 4px 10px;
  margin: -4px -10px -4px -10px;
  text-decoration: none;
}

.track span a:hover {
  background-color: var(--track-fg, #ffffff);
  color: var(--track-bg, #000000);
  transition: all 0.3s ease-in;
}

.slides {
  height: calc(100vh - (3 * var(--track-height, 60px)));
  margin: 0;
  padding: 0;
}

.slidewrap {
  width: 100vw;
  height: calc(100vh - (3 * var(--track-height, 60px)));
  margin: 0;
  padding: 0;
  display: inline-block;
}

.slideitself {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#indice {
  position: fixed;
  z-index: 502;
  width: 20px;
  height: 20px;
  left: calc(50vw - 10px);
  top: calc(100vh - 32px);
  overflow: hidden;
  line-height: 21px;
  font-size: 9px;
  text-align: center;
  color: transparent;
  font-family: var(--timeline-font, Helvetica), Arial, sans-serif;
}

#next {
  position: fixed;
  display: block;
  width: 10px;
  transition: all 0.2s ease-in;

  top: calc(100vh - 30px);
  right: calc(50vw - 31px);

  cursor: pointer;
  z-index: 700;
}

#next:hover svg path {
  fill: var(--timeline-text-over, #ff0000) !important;
}

#prev {
  position: fixed;
  display: block;
  width: 10px;
  transition: all 0.2s ease-in;

  top: calc(100vh - 30px);
  right: calc(50vw + 20px);

  cursor: pointer;
  z-index: 700;
}

#prev:hover svg path {
  fill: var(--timeline-text-over, #ff0000) !important;
}

/* ---- MARKDOWN ------ */

.bookstyle {
  column-count: 2;
  column-gap: max(6vw, var(--meta-margins));
}

.markd {
  position: relative;
  top: calc(var(--track-height, 60px) - 10px);
}

div.markd div.conteudomd {
  width: calc(100% - (2 * var(--meta-margins)));
  height: calc(100% - (2 * var(--meta-margins)));
  padding: var(--meta-margins);
  font-family: var(--timeline-font, Helvetica);
  color: var(--track-fg, #ffffff);
  background-color: var(--track-bg, #000000);
  text-align: justify;

  font-size: var(--md-fontsize);
}

div.markd div.conteudomd a {
  color: var(--track-fg, #ffffff);
  background-color: color-mix(in srgb, var(--track-fg, #ffffff) 10%, #00000000);
  transition: all 0.3s ease-in;
  font-weight: bolder;
  padding: 4px 10px 4px 10px;
  margin: -4px -10px -4px -10px;
  text-decoration: none;
}

div.markd div.conteudomd a:hover {
  background-color: var(--track-fg, #ffffff);
  color: var(--track-bg, #000000);
  transition: all 0.3s ease-in;
}

div.markd div.conteudomd h1,
div.markd div.conteudomd h2 {
  column-span: all;
}

div.markd div.conteudomd h1,
div.markd div.conteudomd h2,
div.markd div.conteudomd h3,
div.markd div.conteudomd h4,
div.markd div.conteudomd h5,
div.markd div.conteudomd h6 {
  font-weight: bolder;
}

div.markd div.conteudomd h1 {
  font-size: 3em;
}

div.markd div.conteudomd h2 {
  margin-top: 2em;
}

div.markd div.conteudomd p {
  font-size: 1em;
  line-height: 1.3em;
  margin-block-start: 0;
}

div.markd div.conteudomd blockquote {
  padding-left: max(var(--meta-margins), 2vw);
  border-left: 4px solid var(--track-fg, #ffffff);
}

div.markd div.conteudomd code {
  font-family: var(--meta-code-font, "Courier New");
}

div.markd div.conteudomd pre {
  font-family: var(--meta-code-font, "Courier New");
}

div.markd div.conteudomd pre code {
}

div.markd div.conteudomd p code {
}

div.markd div.conteudomd ol {
  list-style-type: decimal;
}

div.markd div.conteudomd ul,
div.markd div.conteudomd ol {
  margin: 0;
  padding: 0;
  margin-left: max(var(--meta-margins), 2vw);
}

div.markd div.conteudomd li {
  margin-bottom: 0.2em;
}

div.markd div.conteudomd ul,
div.markd div.conteudomd ol {
  margin-bottom: 3vh;
}

div.markd div.conteudomd ul p,
div.markd div.conteudomd ol p {
  margin-left: max(var(--meta-margins), 2vw);
}

div.markd div.conteudomd iframe {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.markd div.conteudomd table {
  width: 100%;
  text-align: left;
  margin-bottom: 1em;
}

div.markd div.conteudomd thead {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
}

div.markd div.conteudomd thead th {
  font-size: 0.7em;
  line-height: 1.5em;
  border-bottom: 1px solid var(--track-fg, #ffffff);
  text-transform: uppercase;
  font-weight: lighter;
}
div.markd div.conteudomd tbody td {
  border-bottom: 1px solid
    color-mix(in srgb, var(--track-fg, #ffffff) 30%, #00000000);
  font-size: 0.9em;
  line-height: 1.3em;
  text-align: left;
  padding-top: 0.22em;
  padding-bottom: 0.22em;
}

div.markd div.conteudomd th {
  font-size: 0.6em;
  line-height: 0.8em;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (min-width: 421px) {
}

@media screen and (min-width: 900px) {
  div.markd div.conteudomd {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  div.markd div.conteudomd {
    font-size: 16px;
  }
  div.markd div.conteudomd p {
    line-height: 1.5em;
  }
}
