:root {
  --timeline-font: Helvetica;
  --meta-font: Helvetica;
  --timeline-text-color: #777777;
  --timeline-text-highlight: #000000;
  --timeline-text-over: #ff0000;
  --base-background: #ffffff;
  --button-color: #777777;
  --timeline-points: #666666;
  --littlemenu-color: #777777;
  --littlemenu-over: #ffffff;
  --pagination-color: #777777;
  --slidetopic-color: #777777;
  --meta-margins: 30px;

  --track-height: 60px;

  --slide-altura: calc(100vh - 60px);
  --pagina-altura: 100vh;
  --slide-margem: 30px;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: var(--base-background, #ffffff);
  transition: background-color 0.6s ease-in-out;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-background, #ffffff);
  margin: 0;
  padding: 0;
}

#frontslide {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

.fulltrack {
  height: var(--track-height, 60px);
  background-color: transparent;
  font-family: sans-serif;
  font-family: Arial;
  font-family: var(--meta-font);
}

.track {
  line-height: var(--track-height, 60px);
  font-size: 16px;
  font-family: sans-serif;
  font-family: Arial;
  font-family: var(--meta-font);
}

.slides {
  height: calc(100vh - (3 * var(--track-height, 60px)));
  margin: 0;
  padding: 0;
}

.slidewrap {
  width: 100vw;
  height: calc(100vh - (3 * var(--track-height, 60px)));
  margin: 0;
  padding: 0;
  display: inline-block;
}

.slideitself {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#indice {
  position: fixed;
  z-index: 502;
  width: 20px;
  height: 20px;
  top: calc(50vh - 10px);
  right: var(--meta-margins, 30px);
  overflow: hidden;
  line-height: 21px;
  font-size: 9px;
  border-radius: 10px;
  text-align: center;
}

#next {
  position: fixed;
  height: 11px;
  width: 11px;
  transition: all 0.2s ease-in;
  background-color: var(--button-color, #777777);
  border-radius: 16px;
  top: calc(50vh + 20px);
  right: calc(var(--meta-margins, 30px) + 3px);
  outline-color: var(--button-color, #777777);
  outline-style: solid;
  outline-width: 0;
  cursor: pointer;
}

#next:hover {
  transition: all 0.2s ease-in;
  outline-width: 3px;
}

#prev {
  position: fixed;
  height: 11px;
  width: 11px;
  transition: all 0.2s ease-in;
  background-color: var(--button-color, #777777);
  border-radius: 16px;
  top: calc(50vh - 31px);
  right: calc(var(--meta-margins, 30px) + 3px);
  outline-color: var(--button-color, #777777);
  outline-style: solid;
  outline-width: 0;
  cursor: pointer;
}

#prev:hover {
  transition: all 0.2s ease-in;
  outline-width: 3px;
}
