:root {
  --timeline-font: Helvetica;
  --meta-font: Helvetica;
  --timeline-text-color: #999999;
  --timeline-text-highlight: #777777;
  --timeline-text-over: #000000;
  --base-background: #ffffff;
  --button-color: #77777700;
  --track-fg: #ffffff;
  --track-bg: #000000;
  --timeline-points: #666666;
  --littlemenu-color: #777777;
  --littlemenu-over: #ffffff;
  --pagination-color: #777777;
  --slidetopic-color: #777777;
  --meta-margins: 30px;

  --track-height: 60px;

  --slide-altura: calc(100vh - 60px);
  --pagina-altura: 100vh;
  --slide-margem: 30px;

  --timeline-tempo: #ffffff;
  --valor-tempo: #999999;
  --timeline-tempo-height: 130px;

  --add-transparencia: #999999;

  --back-control-width: 0px;

  --cor-frente: white;
  --cor-fundo: black;
  --inclui-scroll: 0px;

  --md-fontsize: 18px;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: var(--base-background, #ffffff);
  transition: background-color 0.6s ease-in-out;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-background, #ffffff);
  margin: 0;
  padding: 0;
}

#frontslide {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

#tracktitulos {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  height: var(--track-height, 60px);
  width: 50vw;
  z-index: 201;
}

#tracktopicos {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  height: var(--track-height, 60px);
  width: 50vw;
  z-index: 200;
}

.fulltrack {
  height: var(--track-height, 60px);
  background-color: transparent;
  font-family: sans-serif;
  font-family: Arial;
  font-family: var(--meta-font);
  color: var(--cor-frente);
  background-color: var(--cor-fundo);
}

.track {
  line-height: var(--track-height, 60px);
  font-size: 16px;
  font-family: sans-serif;
  font-family: Arial;
  font-family: var(--meta-font);
  margin-left: var(--meta-margins, 30px);
  margin-right: var(--meta-margins, 30px);
}

.track a {
  color: var(--track-fg, #ffffff);
  background-color: transparent;
  transition: all 0.3s ease-in;
  font-weight: bolder;
  padding: 4px 10px 4px 10px;
  margin: -4px -10px -4px -10px;
  text-decoration: none;
}

.track a:hover {
  background-color: var(--track-fg, #ffffff);
  color: var(--track-bg, #000000);
  transition: all 0.3s ease-in;
}

.slides {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.slidewrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.slideitself {
  width: 100%;
  height: calc(
    100vh - calc(2 * (var(--track-height, 60px))) - var(--inclui-scroll, 0px)
  );
  margin: 0;
  margin-top: var(--track-height, 60px);
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#indice {
  position: fixed;
  z-index: 702;
  width: 20px;
  height: 20px;
  left: var(--meta-margins, 30px);
  top: calc(100vh - 42px - var(--inclui-scroll, 0px));
  overflow: hidden;
  line-height: 21px;
  font-size: 7px;
  text-align: center;
  color: transparent;
  font-family: var(--timeline-font, Helvetica), Arial, sans-serif;
}

#next {
  position: fixed;
  display: block;
  width: 10px;
  transition: all 0.2s ease-in;

  top: calc(100vh - 40px - var(--inclui-scroll, 0px));
  right: var(--meta-margins, 30px);

  cursor: pointer;
  z-index: 700;
}

#next:hover svg path {
  fill: var(--timeline-text-over, #ff0000) !important;
}

#prev {
  position: fixed;
  display: block;
  width: 10px;
  transition: all 0.2s ease-in;

  top: calc(100vh - 40px - var(--inclui-scroll, 0px));
  right: calc(var(--meta-margins, 30px) + 45px);

  cursor: pointer;
  z-index: 700;
}

#prev:hover svg path {
  fill: var(--timeline-text-over, #ff0000) !important;
}

#backcontrol {
  position: fixed;
  z-index: 699;
  width: var(--back-control-width, 0);
  display: none;
  bottom: 0;
  height: calc(var(--timeline-tempo-height) - 8px);
  background-color: var(--timeline-tempo, grey);
  padding-top: 8px;
}

/* ---- MARKDOWN ------ */

.bookstyle {
  column-count: 2;
  column-gap: max(10vw, var(--meta-margins));
}

div.markd div.conteudomd {
  width: calc(100% - (2 * var(--meta-margins)));
  height: calc(100% - (2 * var(--meta-margins)));
  padding: var(--meta-margins);
  font-family: var(--timeline-font, Helvetica);
  color: var(--track-fg, #ffffff);
  background-color: var(--track-bg, #000000);

  font-size: var(--md-fontsize);
}

div.markd div.conteudomd a {
  color: var(--track-fg, #ffffff);
  background-color: transparent;
  transition: all 0.3s ease-in;
  font-weight: bolder;
  padding: 4px 10px 4px 10px;
  margin: -4px -10px -4px -10px;
  text-decoration: none;
}

div.markd div.conteudomd a:hover {
  background-color: var(--track-fg, #ffffff);
  color: var(--track-bg, #000000);
  transition: all 0.3s ease-in;
}

div.markd div.conteudomd h1,
div.markd div.conteudomd h2 {
  column-span: all;
}

div.markd div.conteudomd h1,
div.markd div.conteudomd h2,
div.markd div.conteudomd h3,
div.markd div.conteudomd h4,
div.markd div.conteudomd h5,
div.markd div.conteudomd h6 {
  font-weight: bolder;
}

div.markd div.conteudomd p {
  font-size: 1em;
  line-height: 1.4em;
}

div.markd div.conteudomd blockquote {
  padding-left: min(15px, 1.5rem);
  border-left: 4px solid var(--md-h1, #000000);
}

div.markd div.conteudomd code {
}

div.markd div.conteudomd pre {
}

div.markd div.conteudomd pre code {
  margin-bottom: 15px;
  display: block;
  overflow: scroll;
  width: 100%;
}

div.markd div.conteudomd p code {
  padding-left: var(--md-inlinecodepadding, 4px);
  padding-right: var(--md-inlinecodepadding, 4px);
  border-radius: var(--md-inlinecoderound, 2px);
}

div.markd div.conteudomd ol {
  list-style-type: decimal;
}

div.markd div.conteudomd ul,
div.markd div.conteudomd ol {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

div.markd div.conteudomd ul,
div.markd div.conteudomd ol {
  margin-bottom: 3vh;
}

div.markd div.conteudomd ul p,
div.markd div.conteudomd ol p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 8px;
}

div.markd div.conteudomd iframe {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.markd div.conteudomd table {
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
}

div.markd div.conteudomd thead {
  font-size: 10px;
  line-height: 13px;
  font-weight: lighter;
  text-transform: uppercase;
}

div.markd div.conteudomd thead th,
div.markd div.conteudomd tbody td {
  border-bottom: 1px solid var(--md-detalhe, #dddddd);
}

div.markd div.conteudomd th {
  font-weight: lighter;
  padding-bottom: 2px;
}

@media screen and (min-width: 1200) {
  div.markd div.conteudomd {
    font-size: 20px;
  }
}
