@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

:root {
  --timeline-font: "IBM Plex Mono";
  --meta-font: "IBM Plex Mono";
  --timeline-text-over: #e342ff;
  --base-background: black;
  --meta-margins: 0px;
  --track-height: 20px;
}

.highlight {
  color: #e342ff;
}

body {
  margin: 20px !important;
}

.track {
  font-size: 11px !important;
}

#tempo {
  left: 20px !important;
  width: calc(100vw - 40px) !important;
  overflow-x: hidden;
}

.slideitself {
  height: calc(
    100vh - (3 * var(--track-height, 60px)) -
      var(--timeline-tempo-height, 130px) - 50px
  ) !important;
  width: calc(100% - 40px) !important;
}

.slides {
  margin-top: 20px !important;
}

#frontslide {
  width: calc(100vw - 40px) !important;
}

#next {
  right: 35px !important;
  top: calc(100vh - 45px) !important;
}

#indice {
  left: auto !important;
  right: 55px !important;
  top: calc(100vh - 47px) !important;
}

#prev {
  right: 86px !important;
  top: calc(100vh - 45px) !important;
}

.registroano {
  font-size: 11px !important;
}
