:root {
  --track-height: 30px !important;
  --md-fontsize: 26px;
}

.track {
  font-size: 11px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: lighter;
}

#frontslide {
  height: calc(100vh - 60px);
}

::-webkit-scrollbar-track {
  background: var(--bg-color, white) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--pagination-color, black) !important;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pagination-color, black) !important;
  opacity: 1;
}

.slidewrap {
  height: calc(100vh - (5 * var(--track-height, 60px))) !important;
}

#indice {
  top: calc(100vh - 32px - 15px) !important;
}

#prev,
#next {
  top: calc(100vh - 30px - 15px);
}

#next:hover svg path {
  fill: var(--track-bg) !important;
}

#prev:hover svg path {
  fill: var(--track-bg) !important;
}

#indice {
  background-color: var(--track-bg) !important;
  color: var(--timeline-text-over, white) !important;
}
