@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  --track-height: 35px;

  --timeline-text-over: #ff006a;

  --back-control-width: 150px;
  --timeline-font: "Source Serif 4";
  --meta-font: "Source Serif 4";

  --meta-margins: 55px;

  --track-bg: #ffffff00;
  --timeline-text-over: #ffffff;
}

::-webkit-scrollbar-track {
  background: var(--track-bg, #ffffff) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--track-fg) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--track-fg, #000000) !important;
}

#tracksubtitulos {
  display: none !important;
}

#tracktitulos .track {
  padding-top: 9px !important;
}

#tracktopicos {
  height: 0 !important;
  overflow: hidden;
}

#tracktopicos .track {
  height: 0 !important;
  overflow: hidden;
}

.slides,
.slidewrap {
  height: calc(100vh - (1 * var(--track-height, 60px)) - 13px) !important;
}

.highlight {
  background-color: #f610a088;
}

#reg0.highlight {
  background-color: #f610a000 !important;
}

.track {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 26px;
  height: 35px;
}

.linhadotempo {
  border-left-style: dotted !important;
}

.registroano {
  font-size: 10px;
}

#prev {
  top: 13px;
  right: 105px;
}

#next {
  top: 13px;
  right: 70px;
}

#indice {
  left: calc(100vw - 45px);
  top: 10px;
}

#backcontrol {
  display: block;
  right: 0;
  top: 0;
}

#tempo {
  width: calc(100vw - 150px);
}
