:root {
  --track-height: 40px;

  --timeline-text-over: #77cfe3;

  --back-control-width: 280px;

  --base-background: var(--track-bg);
  --timeline-text-color: var(--track-fg);
}

::-webkit-scrollbar-track {
  background: var(--track-bg, #ffffff) !important;
}

::-webkit-scrollbar-thumb {
  background: color-mix(
    in srgb,
    var(--track-bg) 50%,
    var(--valor-tempo) 50%
  ) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--track-fg, #ffffff) !important;
}

#tracksubtitulos {
  display: none;
}

#tracktopicos {
  display: none;
}

.slideitself {
  height: calc(
    100vh - (1 * var(--track-height, 60px)) -
      var(--timeline-tempo-height, 130px)
  );
}

.slides {
  height: calc(
    100vh - (1 * var(--track-height, 60px)) -
      var(--timeline-tempo-height, 130px)
  );
}

.slidewrap {
  height: calc(100vh - (1 * var(--track-height, 60px)));
}

.track {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: lighter;
}

.extrasize {
  font-weight: bold;
  font-size: 20px;
}

.linhadotempo {
  border-left-style: dotted !important;
  /* não sei por que mudou! */
  /* height: calc(var(--timeline-tempo-height) - 18px) !important; */
}

.registroano {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 7px;
}

#prev {
  top: calc(100vh - var(--timeline-tempo-height) + 17px);
  right: 225px;
}

#next {
  top: calc(100vh - var(--timeline-tempo-height) + 17px);
  right: 190px;
}

#indice {
  left: calc(100vw - 175px);
  top: calc(100vh - var(--timeline-tempo-height) + 15px);
}

#backcontrol {
  display: block;
  right: 0;
}

#tempo {
  left: 20px !important;
  width: calc(100vw - 285px) !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.highlight {
  background-color: #ffffff5c;
}

#reg0.highlight {
  background-color: #ffffff45 !important;
}

.pq {
  font-size: 7px !important;
  font-weight: lighter !important;
  text-transform: uppercase !important;
}
